.info-bar {
    margin-left: 45px;
    margin-right: 45px;  
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    font-weight: bold;
    font-size: 20px;
    background-color: #201f2a;
    color: rgb(229, 243, 243);
}

.left-info-bar{
    padding-left: 22px;
    padding-right: 20px;
}

.right-info-bar {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.right-info-bar p{
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-box{
    padding-left: 40px;
    padding-right: 40px;
}
